        p#invocation, p#goodbyes {
            font-style: italic;
        }
        a {
            color: black;
            font-weight: 700;
            font-style: normal;
            text-decoration: none;
        }
        a:hover {
            text-decoration: underline;
        }
        a#validation {
            color: green;
        }
        a#invalidation {
            color: red;
        }