        p#invocation, p#goodbyes, p#close, a.lang_url {
            font-style: italic;
        }
        p#close {
            font-size: 12px;
        }
        a {
            color: black;
            font-weight: 700;
            font-style: normal;
            text-decoration: none;
        }
        a:hover {
            text-decoration: underline;
        }
        a#validation {
            color: green;
        }
        a#invalidation {
            color: red;
        }